body {
  color: #cdd2e0;
  background-color: #9da2b3;
}

.blog-one__content h3,
.funfact-one p,
.block-title h3 {
  color: rgb(248, 231, 231);
}

.about-one__icon-box p {
  color: #cebdbd;
}

.about-one__content > p {
  color: #9ea8c6;
}

.blog-one__content,
.about-one .inner-container {
  border-color: rgba(255, 255, 255, 0.1);
}

.testimonials-one,
.blog-one__home,
.about-five,
.service-one {
  background-color: #0a1c4f;
}

.testimonials-one::before,
.about-five::before,
.blog-one__home::before,
.service-one::before {
  background-image: url(../images/5797.jpg);
  opacity: .15;
  background-blend-mode: overlay;
  background-color: #dde2f1;
}

.service-one__inner {
  background-color: #d7dceb;
}

.service-one__single:hover .service-one__inner {
  background-color: #c3c9da;
}

.faq-one .accrodion.active h4,
.service-one__single h3 {
  color: #fff;
}

.service-one__single p {
  color: #9ea8c6;
}

.progress-one__box,
.service-one__image {
  background-color: #b7c1db;
}

.blog-one__content,
.service-one__single:hover .service-one__image {
  background-color: #ccd2e2;
}

.prevention-one__box-top::before {
  background-image: url(../images/5797.jpg;
  border-color: rgba(255, 255, 255, 0.1);
}

.prevention-one__box-bottom {
  background-color: #cad2e9;
  border-color: rgba(226, 220, 220, 0.1);
}

.brand-one__carousel,
.faq-one .accrodion,
.map-one .inner-container,
.prevention-one__single + .prevention-one__single {
  border-color: rgba(233, 224, 224, 0.1);
}

.prevention-one__icon-inner {
  background-color: #dbdfeb;
}

.about-two__icon-text h3,
.funfact-two__single i,
.funfact-two__single h3,
.team-one__single h3,
.prevention-one__content h3 {
  color: #fff;
}

.testimonials-one__text,
.progress-one__box p,
.prevention-one__content p {
  color: #9ea8c6;
}

.faq-one .accrodion {
  background-color: #e5e9f3;
}

.faq-one .accrodion.active .accrodion-title::before {
  color: var(--thm-primary);
}

.team-one__sep,
[class*="col"]:not(:last-of-type) .funfact-two__single::after, [class*="col"]:not(:last-of-type) .funfact-two__single::before {
  background-color: rgba(255, 255, 255, 0.1);
}

.slider-one__wrapper::before {
  background-image: url(../images/5797.jpg);
}

.slider-one__video-btn {
  border-color: #dcdee4;
}

.symptomps-one__image {
  background-color: #e5e7ec;
}

.symptomps-one__single h3 {
  background-color: #e2e6f1;
  border-color: rgba(241, 234, 234, 0.1);
  color: #fff;
}

.symptomps-one__single {
  background-color: transparent;
}

.funfact-two__single p,
.team-one__single p,
.about-five .about-one__list li,
.about-five__content > p {
  color: #9ea8c6;
}

.testimonials-one__title {
  color: #0c75d8;
}

.prevention-one__icon::before {
  border-color: #e1e4ee;
}

.testimonials-one__qoute {
  border-color: #e9edf8;
}
/*# sourceMappingURL=dark.css.map */