.hand-wash-one {
    background-color: #f3f5f9;
    position: relative;
    padding-top: 120px;
    padding-bottom: 80px;
    counter-reset: HwStep;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../images/background/4198555.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        opacity: 0.05;
    }

    .container {
        position: relative;
    }

    &__single {

        counter-increment: HwStep;
        margin-bottom: 70px;
        background-color: #fff;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        border-radius: 5px;
        position: relative;
        transition: 500ms;

        &:hover {
            .hand-wash-one__image {

                animation: roundRound 5s linear infinite;
            }
            box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.04);
        }

        &::before {
            z-index: 15;
            content: counters(HwStep, ".", decimal-leading-zero);
            width: 58px;
            height: 58px;
            border-radius: 50%;
            border: 10px solid #fff;
            position: absolute;
            transform: translateY(50%) translateX(-50%);
            left: 50%;
            bottom: 0;
            @include thmGradientTwo();
            font-size: 22px;
            font-weight: bold;
            color: #fff;
            font-family: var(--heading-font);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        h3 {
            margin: 0;
            color: var(--thm-black);
            font-size: 32px;
            font-weight: bold;
        }
    }

    &__image {
        width: 165px;
        height: 165px;
        background-color: #f3f5f9;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

/* symptopms one */

.symptomps-one {
    padding-top: 120px;
    padding-bottom: 90px;

    .container {
        z-index: 33;
        position: relative;
    }

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 70px;

        .block-title {
            margin-bottom: 0;
        }
    }

    &__btn {
        @include thmGradientBtnOneReverse();
    }

    &__image {
        background-color: #e6e9f2;
        overflow: hidden;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        overflow: hidden;

        >img {
            width: 100%;
        }
    }

    &__single {
        margin-bottom: 30px;
        text-align: center;
        position: relative;
        background-color: #fff;
        border-radius: 5px;

        &::before {
            content: '';
            position: absolute;
            top: -5px;
            right: -5px;
            left: -5px;
            bottom: -5px;
            @include thmGradientTwo;
            z-index: -1;
            border-radius: 5px;
            opacity: 0;
            transform: scale(1, 0);
            transition: opacity 500ms ease, transform 500ms ease;
        }


        &:hover::before {
            opacity: 1;
            transform: scale(1, 1);
        }
    }

    &__single h3 {
        margin: 0;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(230, 233, 242);
        font-size: 26px;
        font-weight: bold;
        color: var(--thm-black);
        line-height: 50px;
        border-top: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}