.map-one {
    .block-title {
        margin-bottom: 30px;
    }

    &__image {
        position: relative;
    }

    .inner-container {
        border-top: 1px solid #e6e9f2;
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

[class*=map-one__dot-] {
    position: absolute;

    &::before {
        content: '';
        width: 23px;
        height: 23px;
        @include thmGradientTwo();
        border: 3px solid #fff;
        display: block;
        border-radius: 50%;
        cursor: pointer;
    }

    h3 {
        @include thmGradientTwo();
        text-align: center;
        color: #fff;
        font-size: 34px;
        font-weight: bold;
        margin: 0;
        border-radius: 5px;
        line-height: 70px;
        position: absolute;
        bottom: calc(100% + 30px);
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0px 0px 50px 0px rgba(240, 237, 237, 0.1);
        width: 220px;
        transition: 500ms;
        opacity: 0;
        visibility: hidden;

        &::before {
            content: '';
            width: 55px;
            height: 20px;
            @include thmGradientTwo();
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
    }

    &:hover {
        h3 {
            opacity: 1;
            visibility: visible;
        }
    }
}

.map-one__dot-1 {
    top: 10%;
    left: 10%;
}

.map-one__dot-2 {
    bottom: 25%;
    left: 26%;
}

.map-one__dot-3 {
    top: 6%;
    left: 39%;
}

.map-one__dot-4 {
    top: 18%;
    right: 16%;
}

.map-one__dot-5 {
    bottom: 44%;
    right: 40%;
}

.map-one__dot-6 {
    bottom: 20%;
    right: 0;
}